################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sff.opensdf
/sff.VC.opendb
/.vs/sff/v14
/sff.sdf
/sff.sln
/sprites/out
/sprites/bach_furious_fugue_flail.psd
/sprites/bach_furious_fugue_flail.rar
/x64/Debug/sff.tlog
*.obj
*.db
*.opendb
