################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sff.opensdf
/sff.VC.opendb
/.vs/sff/v14
/sff.sdf
/sff.sln
/sprites/out
